* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0 !important;
  font-size: 16px !important;
  font-family: var(--body-font);
  color: var(--text-color) !important;
  background-color: hsla(0, 0%, 0%, 1) !important;
  background-image: radial-gradient(
      at 79% 76%,
      hsla(240, 100%, 70%, 0.42) 0px,
      transparent 50%
    ),
    radial-gradient(at 19% 28%, hsla(240, 100%, 70%, 0.42) 0px, transparent 50%) !important;
  background-repeat: no-repeat;
}

:root {
  --header-1: 3rem;
  --header-2: 2rem;
  --header-3: 1.6025rem;
  --header-color: #f39efb;
  --glowing-color: chartreuse;
  --button-color: rgb(193, 252, 134);
  --text-color: rgb(255, 255, 255);
  --bg-color: teal;
  --body-font: "Montserrat", sans-serif;
}

#logo {
  width: 5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: var(--body-font);
  background-color: hsl(240, 36%, 29%);
  padding: 0 30px;
  gap: 2rem;
}
header h2 {
  font-size: var(--header-2);
}

header span,
#about h2,
#services h2,
#projects h2,
#contact h2 {
  font-size: var(--header-2);
  color: var(--header-color);
}

header nav {
  display: flex;
  margin-left: auto;
  gap: 2rem;
}

header nav a {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

header nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s;
  z-index: 2;
}

header nav a:hover::before {
  transform: scaleX(1);
}

#home {
  height: 100vh;
  font-family: var(--body-font);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 15px;
}

#home img {
  width: 100%;
  border-radius: 100%;
}

#home .home-content {
  margin-top: 150px;
  padding-top: 100px;
}

#home h1 {
  color: var(--header-color);
}

#home span,
#about span {
  color: var(--glowing-color);
}

#home .home-links {
  display: flex;
  position: relative;
  gap: 2rem;
}

#home a {
  background-color: var(--glowing-color);
  color: black;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s;
}

#home .phone-num {
  padding: 15px;
  font-weight: bold;
  color: var(--glowing-color);
  position: relative;
  background-color: transparent;
  transition: 0.3s;
}

#home .phone-num::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--glowing-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s;
}

#home .phone-num:hover::before {
  transform: scaleX(1);
}

#about .about h2,
#services h2,
#projects h2,
#contact h2 {
  margin-bottom: 30px;
  text-align: center;
}

#about,
#services,
#projects {
  padding-top: 100px;
}

#about h5 {
  display: inline;
  padding: 5px;
  margin-bottom: 50px;
  color: hsl(240, 36%, 29%);
  font-weight: bold;
  background-color: rgba(204, 207, 207, 0.281);
}

#about .about p {
  max-width: 70%;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

#about .row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#about .box {
  padding: 35px;
  margin: 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
  transition: 0.5s;
}

#about .box:hover,
#services .box-icon:hover,
#projects .card:hover,
#contact form:hover {
  box-shadow: 5px 5px chartreuse;
}

#about h3 {
  color: var(--glowing-color);
  text-align: center;
}
#about .box h3 {
  color: var(--glowing-color);
  text-align: left;
}

#services,
#projects {
  margin: 80px 0;
  padding: 80px 50px;
}

#services h3,
#projects h3 {
  color: var(--glowing-color);
  text-align: center;
}

#services .row {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#services .box-icon {
  padding: 35px;
  margin: 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
  transition: 0.5s;
  position: relative;
  gap: 2rem;
}

#services .box-icon i {
  font-size: 2rem;
}

#services .box-icon h3 {
  margin: 10px 0;
  text-align: left;
}

#services .box-icon a,
#projects .card a {
  text-decoration: none;
  color: var(--glowing-color);
  padding: 10px;
  border-radius: 8px;
  justify-content: flex-start;
  transition: 0.3s;
}

#services .box-icon a:hover,
#projects .card a:hover {
  border: 2px solid chartreuse;
}

#projects .row {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#projects .card img {
  width: 100%;
  height: 300px;
}

#projects .card {
  width: 25rem;
  padding-top: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.5s;
}

#projects .card h5 {
  color: var(--glowing-color);
}

#contact {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 80px 50px;
}

#contact h2 {
  margin-bottom: 80px;
}
#contact .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#contact form {
  height: 500px;
  margin-left: 50px;
  padding: 25px;
  background-color: var(--bg-color);
  border-radius: 10px;
  text-align: center;
}

#contact form .half-width {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

#contact input,
textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

#contact input:hover,
textarea:hover,
#contact input:focus,
textarea:focus {
  background-color: rgba(243, 247, 241, 0.884);
}

#contact h4 {
  margin-bottom: 15px;
}

#contact .button {
  width: 25%;
  margin-top: 50px;
}

#contact .button:hover {
  background-color: var(--glowing-color);
}

#contact .contacts {
  text-align: center;
  gap: 2rem;
}

#contact .soc-med i {
  font-size: var(--header-2);
  margin: 15px;
}

#contact .soc-med i:hover {
  color: var(--text-color);
}

#contact .smaller-icon i {
  font-size: 1rem;
}

#contact .contacts h4 {
  color: var(--glowing-color);
}

footer {
  margin: 0;
  padding: 15px;
  background-color: #0b3954;
  color: #f1f1f1;
  text-align: center;
}

footer p {
  margin: 0;
}
